*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
footer{
  display:flex;
  align-items:center;
  justify-content:center;
  background:linear-gradient(135deg, #0f172a, #1e293b);

}
#foot{
  color:#38bdf8;
  padding:1rem;
  text-align:center;
}
















































































































































































































































































































